<html>

<head>
  <title>Please wait</title>
  <meta http-equiv="refresh" content="8;url=/">
  </meta>
  {{> head}}
</head>

<body class="cover">

  {{> nav}}

  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Please wait
        </h1>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      &nbsp;
    </div>
  </section>

  <section>
    <div class="container">
      <div class="notification is-size-3 has-text-centered">
        <h1 class="title">Please wait</h1>
        <p>
          We are just setting a few things up, this will take a few seconds.
        </p>
      </div>
    </div>
  </section>

  {{> tail}}
</body>

</html>