@import "./variables";

.container {
  padding-top: 3.5rem;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.my-4 {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
}

.no-bottom {
  margin-bottom: 0 !important;
}

hr {
  margin-top: 5rem;
}

div.docs-content {
  padding-left: 16rem;
  padding-right: 0;
  width: calc(100vw - 1rem);

  .h1 {
    line-height: 2rem;
  }

  .primary-card {
    min-height: 40vh;
    background: $color-accent;
    color: white;

    a {
      color: inherit;
    }
  }

  .primary-card-inverted {
    min-height: 40vh;

    a {
      color: $color-accent;
    }
  }

  .btn {
    background: $color-accent;
    border-color: $color-accent;
    color: #fff;
  }

  .btn-primary {
    background: $color-accent;
    border-color: $color-accent;
    color: #fff;
  }

  .btn-error {
    background: #e85600;
    border-color: #d95000;
    color: #fff;
  }
}

.s-title {
  font-size: .85rem;
  font-weight: 900;
  padding-top: 0 !important;
}

.docs-sidebar {
  .docs-nav {
    bottom: 10rem !important;
  }
}

@media (max-width: 960px) {
  .docs-navbar {
    left: inherit !important;
  }

  .docs-content {
    padding-left: 1.5rem !important;
  }

  .contacts-links {
    position: inherit !important;
  }
}