@charset "utf-8";

@import "../../node_modules/spectre.css/src/spectre-exp";
@import "../../node_modules/spectre.css/src/spectre-icons";
@import "../../node_modules/spectre.css/src/spectre";
@import "./extras";
@import "./sidebar";
@import "./navbar";

body {
  color: black;
  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
}

.title,
.s-title,
label.accordion-header {
  font-weight: 600;
}