<html>

<head>
  <title>Setup Auth0</title>
  {{> head}}
  <link href="/css/prism.css" rel="stylesheet" />
</head>

<body>


  <body>
    <div class="docs-container off-canvas off-canvas-sidebar-show">
      {{>nav}}

      {{>sidebar}}

      <div class="off-canvas-content">
        <div class="docs-content" id="content">

          <h1>Initial Setup</h1>
          <h2>This is where you enter the Auth0 information to get started</h2>

          <p>
            To use this dashboard you should first set up and be familiar with
            <a href="https://auth0.com/">Auth0</a> which will act as your authentication and allow users to register and
            log into the dashboard. You as the
            1st user will be an admin user, who will then control the roles and rights of new users who sign up.
          </p>
          <p>
            Before you fill in the details in the form, please create an Auth0 account, create an application and then
            use
            the details
            provided.
          </p>
          <p>
            <form method="POST" action="/" enctype="multipart/form-data">
              <div class="form-group">
                <label class="form-label" for="AUTH0_DOMAIN">Auth0 domain</label>
                <input class="form-input" type="text" name="AUTH0_DOMAIN" id="AUTH0_DOMAIN"
                  value="{{auth0.AUTH0_DOMAIN}}" placeholder="domain.auth0.com" />
              </div>

              <div class="form-group">
                <label class="form-label" for="AUTH0_CLIENT_ID">Auth0 client ID</label>
                <input class="form-input" type="text" name="AUTH0_CLIENT_ID" id="AUTH0_CLIENT_ID"
                  value="{{auth0.AUTH0_CLIENT_ID}}" placeholder="abcdef0123456789" />
              </div>

              <div class="form-group">
                <label class="form-label" for="AUTH0_SECRET">Auth0 secret</label>
                <input class="form-input" type="text" name="AUTH0_SECRET" id="AUTH0_SECRET"
                  value="{{auth0.AUTH0_SECRET}}" placeholder="abcdef0123456789" />
              </div>

              <div class="form-group">
                <label class="form-label" for="AUTH0_CALLBACK_URL">Auth0 callback url</label>
                <input class="form-input" type="text" name="AUTH0_CALLBACK_URL" id="AUTH0_CALLBACK_URL"
                  value="{{auth0.AUTH0_CALLBACK_URL_DASHBOARD}}" placeholder="https://domain.com/callback" />
              </div>

              <div class="form-group">
                <label class="form-label" for="elasticsearch">Elastic Search</label>
                <input class="form-input" type="text" name="elasticsearch" id="elasticsearch"
                  placeholder="{{#ifEqual NODE_ENV 'development'}}http://localhost:9200{{else}}https://domain.com{{/ifEqual}}"
                  value="{{ELASTICSEARCH}}">
              </div>

              <div class="form-group">
                <label class="form-label" for="handshake">Handshake</label>
                <input class="form-input" type="text" name="handshake" id="handshake" value="{{handshake}}"
                  placeholder="Your handshake token" />
              </div>

              <div class="level">
                <button class="btn btn-primary input-group-btn" type="submit" value="save" name="action">Save</button>
              </div>
            </form>
          </p>

        </div>
      </div>
    </div>
    {{>tail}}
  </body>

</html>