<html>

<head>
  <title>Administration</title>
  {{> head}}
</head>

<body>
  <div class="docs-container off-canvas off-canvas-sidebar-show">
    {{>nav}}

    {{>sidebar}}

    <div class="off-canvas-content">
      <div class="docs-content" id="content">

        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/{{selectedLang}}">Home</a>
          </li>
          <li class="breadcrumb-item">
            Administration
          </li>
        </ul>

        <div class="columns">
          <div class="column col-3">

            <div class="card primary-card">
              <div class="card-header">
                <div class="card-title h1"><a href="/{{selectedLang}}/administration/configuration">Configuration</a>
                </div>
              </div>
            </div>
          </div>

          <div class="column col-3">
            <div class="card primary-card">
              <div class="card-header">
                <div class="card-title h1"><a href="/{{selectedLang}}/administration/instances">Instances</a></div>
              </div>
            </div>
          </div>

        </div>


      </div>
    </div>
  </div>
  {{>tail}}
</body>

</html>