<html>

<head>
  <title>Dashboard</title>
  {{> head}}
</head>

<body>
  <div class="docs-container off-canvas off-canvas-sidebar-show">
    {{>nav}}

    {{>sidebar}}

    <div class="off-canvas-content">
      <div class="docs-content" id="content">

        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            Home
          </li>
        </ul>

        <div class="columns">
          {{#if user}}
            <div class="column col-6">
              <div class="card primary-card-inverted">
                <div class="card-header">
                  <div class="card-title h1">API Token</div>
                </div>
                {{#if graphQLHost}}
                  <div class="card-body">
                    <p>
                      Below is your API token, you should use this when making API calls.
                    </p>
                    <p>
                      <code>{{user.apitoken}}</code>
                    </p>
                    <p>
                      You can <a href="{{graphQLHost}}/{{user.apitoken}}/playground">view the graphQL playground</a> to
                      test out various queries.
                    </p>
                    <p>
                      You can also <a href="{{graphQLHost}}">view the documentation</a>.
                    </p>
                  </div>
                {{/if}}
              </div>
            </div>
          {{/if}}

          {{#if user.roles.isAdmin}}
            <div class="column col-3">
              <div class="card primary-card">
                <div class="card-header">
                  <div class="card-title h1"><a href="/{{selectedLang}}/administration">Administration</a>
                  </div>
                </div>
              </div>
            </div>
          {{/if}}

        </div>


      </div>
    </div>
  </div>
  {{>tail}}
</body>

</html>