<html>

<head>
  <title>Dashboard</title>
  {{> head}}
</head>

<body>
  <div class="docs-container off-canvas off-canvas-sidebar-show">
    {{>nav}}

    {{>sidebar}}

    <div class="off-canvas-content">
      <div class="docs-content" id="content">

        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            Home
          </li>
        </ul>

        <div class="columns">
          {{#if user}}
            <div class="column col-6">
              <div class="card primary-card-inverted">
                <div class="card-header">
                  <div class="card-title h1">API Token</div>
                </div>
                {{#if graphQLHost}}
                  {{#if user.roles.isDeveloper}}
                    <div class="card-body">
                      <p>
                        Below is your API token, you should use this when making API calls.
                      </p>
                      <p>
                        <code>{{user.apitoken}}</code>
                      </p>
                      <p>
                        You can <a href="{{graphQLHost}}/{{user.apitoken}}/playground">view the graphQL playground</a>
                        to
                        test out various queries.
                      </p>
                      <p>
                        You can also <a href="{{graphQLHost}}">view the documentation</a>.
                      </p>
                    </div>
                  {{else}}
                    <div class="card-body">
                      <p>
                        You currently do not have an API key.
                      </p>
                    </div>
                  {{/if}}
                {{/if}}
              </div>
            </div>
          {{/if}}

          {{#if user.roles.isAdmin}}
            <div class="column col-3">
              <div class="card primary-card">
                <div class="card-header">
                  <div class="card-title h1"><a href="/{{selectedLang}}/administration">Administration</a>
                  </div>
                </div>
              </div>
            </div>
          {{/if}}

          {{#if instances}}

            <div class="column col-3">
              <div class="card primary-card-title">
                <div class="card-header">
                  <div class="card-title h1">Instances</div>
                </div>
                <div class="card-body">
                  <p>
                    These are the instances you have control over.
                  </p>
                </div>
              </div>
            </div>

            {{#each instances}}
              <div class="column col-3">
                <div class="card primary-card" style="background-color: #{{colour}}">
                  <div class="card-header">
                    <div class="card-title h1"><a
                        href="/{{../selectedLang}}/administration/instances/{{id}}">{{title}}</a>
                    </div>
                    <div class="card-subtitle text-gray">{{id}}</div>
                  </div>
                  <div class="card-body">
                    <p>
                      <h4>Initiatives</h4>
                      <ul>
                        {{#if initiatives}}
                          {{#each initiatives}}
                            <li><a
                                href="/{{../../selectedLang}}/administration/instances/{{../id}}/initiatives/{{slug}}">{{title}}</a>
                            </li>
                          {{/each}}
                        {{else}}
                          <li>No initiatives</li>
                        {{/if}}
                      </ul>
                    </p>
                  </div>
                </div>
              </div>
            {{/each}}
          {{/if}}
        </div>


      </div>
    </div>
  </div>
  {{>tail}}
</body>

</html>