<html>

<head>
  <title></title>
  {{> head}}
</head>

<body class="cover" style="background-image: url({{design.cover}});">

  {{> nav}}

  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Welcome to the M+ Dashboard
        </h1>
        <h2 class="subtitle">
          Before you can start you must login
        </h2>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      &nbsp;
    </div>
  </section>

  <section>
    <div class="container">
      <div class="notification is-size-1 has-text-centered">
        <p>
          Please
          <a href="/login">login</a> to get started
        </p>
      </div>
    </div>
  </section>
  {{> tail}}
</body>

</html>