<html>

<head>
  <title>Instance</title>
  {{> head}}
  {{#if csvProgress}}
    {{#if csvProgress.finished}}
    {{else}}
      <meta http-equiv="refresh" content="5">
    {{/if}}
  {{else}}
  {{/if}}
</head>

<body>
  <div class="docs-container off-canvas off-canvas-sidebar-show">
    {{>nav}}

    {{>sidebar}}

    <div class="off-canvas-content">
      <div class="docs-content" id="content">

        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/{{selectedLang}}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/{{selectedLang}}/administration">Administration</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/{{selectedLang}}/administration/instances">Instances</a>
          </li>
          <li class="breadcrumb-item">
            {{instance.title}}
          </li>
        </ul>

        <div class="columns">

          <div class="column col-3">
            <div class="card primary-card-inverted">
              <div class="card-header">
                <div class="card-title h1">{{instance.title}}</div>
                <div class="subtitle h6 text-gray">{{instance.id}}</div>
              </div>
              <div class="card-body">
                <form method="POST" enctype="multipart/form-data" class="form-horizontal">
                  <div class="form-group">
                    <div class="col-3 col-sm-12"><label class="form-label" for="title">Title</label></div>
                    <div class="col-9 col-sm-12"><input class="form-input" type="text" id="title" name="title"
                        placeholder="Instance title" value="{{instance.title}}"></div>
                  </div>
                  <div class="form-group">
                    <div class="col-3 col-sm-12"><label class="form-label" for="colour">Colour</label></div>
                    <div class="col-9 col-sm-12"><input class="form-input" type="text" id="colour" name="colour"
                        placeholder="000000" value="{{instance.colour}}"></div>
                  </div>
                  <br />
                  <img class="img-responsive" src="data:image/png;base64,{{instance.logo}}"
                    style="background-color: #{{instance.colour}}">
                  <br />
                  <div class="form-group">
                    <div class="col-3 col-sm-12"><label class="form-label" for="logo">Logo</label>
                    </div>
                    <div class="col-9 col-sm-12">
                      <input class="form-input" type="file" id="logo" name="logo">
                    </div>
                  </div>
                  <p>
                    <small class="label"><strong>Note:</strong> the logo will be converted to base64, try to keep it as
                      small and simple, less than 384x128, &lt; 100kb if possible.</small>
                  </p>
                  <button class="btn btn-primary input-group-btn" name="action" value="updateInstance">Update</button>
                </form>


                <form method="POST" enctype="multipart/form-data">
                  <button class="btn btn-error input-group-btn" name="action" value="deleteInstance"
                    {{#if instance.initiatives}}disabled{{/if}}>Delete</button>
                  {{#if instance.initiatives}}
                    <p class="text-small text-gray">
                      An instance with initiatives in cannot be deleted.
                    </p>
                  {{/if}}
                </form>
              </div>
            </div>
          </div>

          <div class="column col-3">
            <div class="card primary-card-inverted">
              <div class="card-header">
                <div class="card-title h1">Language</div>
              </div>
              <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                  <div class="card-title h2">Primary language
                    <div class="subtitle h6 text-gray">(select one)</div>
                  </div>
                  <div class="form-group">
                    {{#each langs}}
                      <label class="form-radio">
                        <input type="radio" name="default" value="{{code}}"
                          {{#ifEqual code ../defaultLanguage}}checked{{/ifEqual}}>
                        <i class="form-icon"></i> {{name}} ({{code}})
                      </label>
                    {{/each}}
                  </div>

                  <div class="card-title h2">Secondary languages
                    <div class="subtitle h6 text-gray">(select all that apply)</div>
                  </div>
                  <div class="form-group">
                    {{#each langs}}
                      <label class="form-checkbox">
                        <input type="checkbox" name="code_{{code}}" value="{{code}}" {{#if selected}}checked{{/if}}>
                        <i class="form-icon"></i> {{name}} ({{code}})
                      </label>
                    {{/each}}
                  </div>

                  <button class="btn btn-primary input-group-btn" name="action" value="updateLanguages">Update</button>
                </form>
              </div>
            </div>
          </div>

          {{#if instance.initiatives}}
            <div class="column col-3">
              <div class="card primary-card-title">
                <div class="card-header">
                  <div class="card-title h1">Initiatives</div>
                </div>
                <div class="card-body">
                  <p>
                    These are the current initiatives in this instance.
                  </p>
                </div>
              </div>
            </div>

            {{#each instance.initiatives}}
              <div class="column col-3">
                <div class="card primary-card" style="background-color: #{{../instance.colour}}">
                  <div class=" card-header">
                    <div class="card-title h1">
                      <a
                        href="/{{../selectedLang}}/administration/instances/{{../instance.id}}/initiatives/{{slug}}">{{title}}</a>
                    </div>
                    <div class="card-subtitle h6 text-gray"><a
                        href="/{{../selectedLang}}/administration/instances/{{../instance.id}}/initiatives/{{id}}">{{id}}</a>
                    </div>
                    <div class="card-subtitle h6 text-gray"><i class="icon icon-time"></i> {{prettyDate created}}</div>
                    <div class="card-subtitle h6 {{#if isActive}}{{else}}text-gray{{/if}}">
                      {{#if isActive}}<i class="icon icon-check"></i>{{else}}<i class="icon icon-cross"></i>
                      {{/if}} Active
                    </div>
                    <div class="card-subtitle h6 {{#if isFeatured}}{{else}}text-gray{{/if}}">
                      {{#if isFeatured}}<i class="icon icon-check"></i>{{else}}<i class="icon icon-cross"></i>
                      {{/if}} Featured
                    </div>
                  </div>
                  <div class="card-body">
                    <div>{{description}}</div>
                  </div>
                  {{#if reviewCount}}
                    <div class="card-footer">
                      <a class="btn btn-white"
                        href="/{{../selectedLang}}/administration/instances/{{../instance.id}}/initiatives/{{slug}}"
                        style="color: black">{{reviewCount}} photo{{#ifNotEqual reviewCount 1}}s{{/ifNotEqual}}</a>
                    </div>
                  {{/if}}
                </div>
              </div>
            {{/each}}
            <div class="column col-6">
              <form method="POST" enctype="multipart/form-data">
                <div class="card primary-card-inverted">
                  <div class="card-header">
                    <div class="card-title h1">Add new initiative</div>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label class="form-label" for="title">Title</label>
                      <input class="form-input" type="text" id="title" name="title" placeholder="Initiative title">
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="description">Description</label>
                      <textarea class="form-input" id="description" name="description"
                        placeholder="Add initiative description here" rows="3"></textarea>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button class="btn btn-primary input-group-btn" name="action" value="addInitiative">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          {{else}}
            <div class="column col-3">
              <div class="card primary-card-title">
                <div class="card-header">
                  <div class="card-title h1">Initiatives</div>
                </div>
                <div class="card-body">
                  <p>
                    There are no initiatives, you can add one though
                  </p>
                </div>
              </div>
            </div>

            <div class="column col-6">
              <form method="POST" enctype="multipart/form-data">
                <div class="card primary-card-inverted">
                  <div class="card-header">
                    <div class="card-title h1">Add new initiative</div>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label class="form-label" for="title">Title</label>
                      <input class="form-input" type="text" id="title" name="title" placeholder="Initiative title">
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="description">Description</label>
                      <textarea class="form-input" id="description" name="description"
                        placeholder="Add initiative description here" rows="3"></textarea>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button class="btn btn-primary input-group-btn" name="action" value="addInitiative">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          {{/if}}

          {{#if user.roles.isAdmin}}
            {{#if users}}
              <div class="column col-3">
                <div class="card primary-card-title">
                  <div class="card-header">
                    <div class="card-title h1">Users</div>
                  </div>
                  <div class="card-body">
                    <p>
                      The following users have control over this instance.
                    </p>
                  </div>
                </div>
              </div>

              {{#each users}}
                <div class="column col-3">
                  <div class="card primary-card" style="background-color: #{{../instance.colour}}">
                    <div class="card-header">
                      <div class="card-title h1">
                        <figure class="avatar avatar-lg">
                          <img src="{{icon}}" alt="User avatar">
                        </figure>
                        <a href="/{{../selectedLang}}/administration/users/{{id}}">{{displayName}}</a>
                      </div>
                      <div class="card-subtitle h6 text-gray">Created: {{prettyDateShort created}}</div>
                      <div class="card-subtitle h6 text-gray"><i class="icon icon-time"></i>
                        {{prettyDate lastLoggedIn}}
                      </div>
                    </div>

                    <div class="card-body">
                      <div>{{#if roles.isAdmin}}<i class="icon icon-check mx-1"></i>{{else}}<i
                            class="icon icon-cross mx-1"></i>{{/if}} Admin</div>
                      <div>{{#if roles.isDeveloper}}<i class="icon icon-check mx-1"></i>{{else}}<i
                            class="icon icon-cross mx-1"></i>{{/if}} Developer</div>
                      {{#if roles.isAdmin}}
                      {{else}}
                        {{#if roles.isDeveloper}}
                        {{else}}
                          {{#if suspended}}
                            <p><br /><strong>This user is suspended.</strong></p>
                          {{/if}}
                          {{#if deleted}}
                            <p><br /><strong>This user is deleted.</strong></p>
                          {{/if}}
                        {{/if}}
                      {{/if}}
                      <p>
                        <h4>Instances</h4>
                        <ul>
                          {{#if instances}}
                            {{#each instances}}
                              <li><a href="/{{../../selectedLang}}/administration/instances/{{id}}">{{title}}</a>
                              </li>
                            {{/each}}
                          {{else}}
                            <li>No instances</li>
                          {{/if}}
                        </ul>
                      </p>
                    </div>
                  </div>
                </div>
              {{/each}}
            {{/if}}
          {{/if}}
        </div>

        {{> photoTable}}
        {{#if photos}}
          <hr />
          <h1 class="h1" id="downloadCSV">Download Photos CSV</h1>
          {{#if csvProgress}}
            {{#if csvProgress.finished}}
              <form method="POST" enctype="multipart/form-data" class="form-horizontal">
                <button class="btn btn-primary input-group-btn" name="action" value="createCSV">Recreate new
                  CSV</button>
                <button class="btn btn-primary input-group-btn" name="action" value="downloadCSV">Download CSV</button>
              </form>
            {{else}}
              Building CSV, page {{csvProgress.page}} of {{csvProgress.maxPage}}, please wait.
            {{/if}}
          {{else}}
            <form method="POST" enctype="multipart/form-data" class="form-horizontal">
              <button class="btn btn-primary input-group-btn" name="action" value="createCSV">Create new CSV</button>
            </form>
          {{/if}}
          <hr />
        {{/if}}

        {{> peopleTable}}
        {{#if showMorePeople}}
          <a class="btn" href="/{{selectedLang}}/administration/instances/{{instance.id}}/people">See more
            people</a>
        {{/if}}
      </div>
    </div>
    {{>tail}}
</body>

</html>