<html>

<head>
  <title>Instance</title>
  {{> head}}
</head>

<body>
  <div class="docs-container off-canvas off-canvas-sidebar-show">
    {{>nav}}

    {{>sidebar}}

    <div class="off-canvas-content">
      <div class="docs-content" id="content">

        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/{{selectedLang}}">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/{{selectedLang}}/administration">Administration</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/{{selectedLang}}/administration/instances">Instances</a>
          </li>
          <li class="breadcrumb-item">
            {{instance.title}}
          </li>
        </ul>

        <div class="columns">

          <div class="column col-3">
            <div class="card primary-card-inverted">
              <div class="card-header">
                <div class="card-title h1">{{instance.title}}</div>
                <div class="subtitle h6 text-gray">{{instance.id}}</div>
              </div>
              <div class="card-body">
                <form method="POST" action="/{{selectedLang}}/administration/instances/{{instance.id}}"
                  enctype="multipart/form-data">
                  <div class="form-group">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-input" type="text" id="title" name="title" placeholder="Instance title"
                      value="{{instance.title}}">
                  </div>
                  <button class="btn btn-primary input-group-btn" name="action" value="updateInstance">Update</button>
                </form>

                <form method="POST" action="/{{selectedLang}}/administration/instances/{{instance.id}}"
                  enctype="multipart/form-data">
                  <button class="btn btn-error input-group-btn" name="action" value="deleteInstance">Delete</button>
                </form>
              </div>
            </div>
          </div>

          <div class="column col-3">
            <div class="card primary-card-title">
              <div class="card-header">
                <div class="card-title h1">Initiatives</div>
              </div>
              <div class="card-body">
                <p>
                  These are the current initiatives in this instance.
                </p>
              </div>
            </div>
          </div>

          {{#if users}}
            <div class="column col-3">
              <div class="card primary-card-title">
                <div class="card-header">
                  <div class="card-title h1">Users</div>
                </div>
                <div class="card-body">
                  <p>
                    The following users have control over this instance.
                  </p>
                </div>
              </div>
            </div>

            {{#each users}}
              <div class="column col-3">
                <div class="card primary-card">
                  <div class="card-header">
                    <div class="card-title h1">
                      <figure class="avatar avatar-lg">
                        <img src="{{icon}}" alt="User avatar">
                      </figure>
                      <a href="/{{../selectedLang}}/administration/users/{{id}}">{{displayName}}</a>
                    </div>
                    <div class="card-subtitle h6 text-gray">Created: {{prettyDateShort created}}</div>
                    <div class="card-subtitle h6 text-gray"><i class="icon icon-time"></i> {{prettyDate lastLoggedIn}}
                    </div>
                  </div>

                  <div class="card-body">
                    <div>{{#if roles.isAdmin}}<i class="icon icon-check mx-1"></i>{{else}}<i
                          class="icon icon-cross mx-1"></i>{{/if}} Admin</div>
                    <div>{{#if roles.isDeveloper}}<i class="icon icon-check mx-1"></i>{{else}}<i
                          class="icon icon-cross mx-1"></i>{{/if}} Developer</div>
                    <p>
                      <h4>Instances</h4>
                      <ul>
                        {{#if instances}}
                          {{#each instances}}
                            <li><a href="/{{../../selectedLang}}/administration/instances/{{id}}">{{title}}</a>
                            </li>
                          {{/each}}
                        {{else}}
                          <li>No instances</li>
                        {{/if}}
                      </ul>
                    </p>
                  </div>
                </div>
              </div>
            {{/each}}
          {{/if}}

        </div>
      </div>
    </div>
    {{>tail}}
</body>

</html>