<div class="docs-sidebar off-canvas-sidebar" id="sidebar">

  <div class="docs-nav">
    <div class="accordion-container">
      <div class="accordion">
        <label class="accordion-header label-header">Cosopho</label>
      </div>


      {{#if user}}
        {{#if user.roles.isAdmin}}
          <label class="accordion-header content c-hand" for="accordion-administration">Administration</label>
          <div class="accordion-body">
            <ul class="menu menu-nav">
              <li class="menu-item"><a href="/{{selectedLang}}/administration/instances">Instances</a></li>
              <li class="menu-item"><a href="/{{selectedLang}}/administration/users">Users</a></li>
              <li class="menu-item"><a href="/{{selectedLang}}/administration/languages">Languages</a></li>
              <li class="menu-item"><a href="/{{selectedLang}}/administration/translations">Translations</a></li>
            </ul>
          </div>
        {{else}}
          {{#if user.roles.isDeveloper}}
            <label class="accordion-header content c-hand" for="accordion-administration">Administration</label>
            <div class="accordion-body">
              <ul class="menu menu-nav">
                <li class="menu-item"><a href="/{{selectedLang}}/administration/translations">Translations</a></li>
              </ul>
            </div>
          {{/if}}
        {{/if}}
      {{/if}}

    </div>
  </div>
</div>
<a class="off-canvas-overlay" href="#close"></a>